.App {
    text-align: center;
  }
  
  .Applogo {
    height: 100px;
    pointer-events: none;
  }
  
  
  .Appheader {
    background-color: #8c2ccc;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 50%;
    color: white;
  }
  
  
  
  